<div class="content-wrapper" style="background-color: rgb(226, 253, 247); padding-top: 2%; " >
    <!-- Content Header (Page header) -->
      <div class="card" style="background-color: white; margin-left: 20px; margin-right: 20px; padding:1.5%; " >
     
    <div class="content-header" >
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            
            <h1 class="m-0" style="color: black ; font-weight:800; padding-top: 0.5%;font-size: 2rem;  font-family: Serif;">Dashboard </h1>
            
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="adminDashboard">Home</a></li>
              <li class="breadcrumb-item active">Dashboard </li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>

    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Info boxes -->
        <div class="row">
          
          
          <div class="clearfix hidden-md-up"></div>

         
        </div>

        <div class="row">
       
      
        </div>
        <div class="row" style="padding-top: 1%; ">
        
          <div class="col-4">
            <div class="card" style="background-color: white; color: black; height: 8rem;">
              <div class="row">
                <div class="col-12">
              <label style="margin-left: 1.5rem; font-size: 1.5rem;" >User</label>
              <div class="container">
                  <div class="row" >
                    <div class="col"  style="display: flex; padding-top: 2%;">
                      <div class="col-5">
                        <div class="doller" style="height: 3.5rem; width: 5.5rem; background-color: rgb(78, 5, 62); color: rgb(255, 255, 255); border-radius:10%;">
                          <!-- <i class="fas fa-dollar-sign" style=" padding: 2%; font-size: 2rem; height:3rem; width: 4rem;  background-color: rgb(78, 5, 62);  color: white; border-radius: 5px;"></i> -->
                          <div style="padding-left:30%;padding-top: 15%; border-radius:20%; ">
                          <i class="fas fa-users" style="font-size: 2rem;" ></i>    
                            </div>
                        </div>
                      </div>
                        <div class="col-7" style="">
                          <label>Total Users</label>
             
                          <p><%= data2[0].total %></p> 
                        </div>
                      </div>
                    </div>
                    </div>
                   
                
                
          </div>
          <!-- <div class="row">
            <div class="col-6">
            
            </div>
           
            </div> -->
            
           
              </div>
            </div>
          </div>  
          <div class="col-4">
            <div class="card" style="background-color: white; color: black; height: 8rem;">
              <label style="margin-left: 1.5rem; font-size: 1.5rem;">Category</label>
             <!-- <i class="far fa-money-bill-alt"  style=" margin-left:1.5rem; font-size: 2rem;width: 4rem; padding: 0.5rem;  padding-right:2%; background-color: rgb(78, 5, 62);  color: white; border-radius: 5px;"></i> -->
             <div class="container">
              <div class="row" >
                <div class="col"  style="display: flex; padding-top: 2%;">
                  <div class="col-5">
                    <div class="doller" style="height: 3.5rem; width: 5.5rem; background-color: rgb(78, 5, 62); color: rgb(255, 255, 255); border-radius:10%;">
                      <!-- <i class="fas fa-dollar-sign" style=" padding: 2%; font-size: 2rem; height:3rem; width: 4rem;  background-color: rgb(78, 5, 62);  color: white; border-radius: 5px;"></i> -->
                      <div style="padding-left:30%;padding-top: 15%; border-radius:20%; ">
                      <i class="far fa-money-bill-alt" style="font-size: 2rem;" ></i>    
                        </div>
                    </div>
                  </div>
                    <div class="col-7" style="">
                      <label>Total Category</label>
         
                      <p><%= totalcat[0].total %></p> 
                    </div>
                  </div>
                </div>
                </div>
            </div>
          </div>  
          <div class="col-4">
            <div class="card" style="background-color: white; color: black; height: 8rem;">
              <label style="margin-left: 1.5rem; font-size: 1.5rem;">Products</label>
             <!-- <i class="far fa-money-bill-alt"  style=" margin-left:1.5rem; font-size: 2rem;width: 4rem; padding: 0.5rem;  padding-right:2%; background-color: rgb(78, 5, 62);  color: white; border-radius: 5px;"></i> -->
             <div class="container">
              <div class="row" >
                <div class="col"  style="display: flex; padding-top: 2%;">
                  <div class="col-5">
                    <div class="doller" style="height: 3.5rem; width: 5.5rem; background-color: rgb(78, 5, 62);; color: rgb(255, 255, 255); border-radius:10%;">
                      <!-- <i class="fas fa-dollar-sign" style=" padding: 2%; font-size: 2rem; height:3rem; width: 4rem;  background-color: rgb(78, 5, 62);  color: white; border-radius: 5px;"></i> -->
                      <div style="padding-left:30%;padding-top: 15%; border-radius:20%; ">
                      <i class="fas fa-star" style="font-size: 2rem;" ></i>    
                        </div>
                    </div>
                  </div>
                    <div class="col-7" >
                      <label>Total Product</label>
         
                      <p><%= product[0].total %></p> 
                    </div>
                  </div>
                </div>
                </div>
            </div>
          </div>  
          </div>

          <div class="row" style="padding-top: 1%; ">
            <!-- <div class="col-3"  >
              <div class="card" style="background-color: white; color: black; height: 8rem; padding-top: 3%;">
                <label style="margin-left: 1.5rem;"></label>
               <i class="fas fa-list-ol" style="margin-left:1.5rem; font-size: 2rem;width: 3rem; padding: 0.5rem;  padding-right:2%; background-color: rgb(243, 201, 85);  color: white; border-radius: 5px;"></i>
              </div>
            </div>   -->
            <div class="col-3">
              <div class="card" style="background-color: white; color: black; height: 8rem;">
                <div class="row">
                  <div class="col-12">
                <label style="margin-left: 1.5rem; font-size: 1.3rem;" >Vendors</label>
                <div class="container">
                    <div class="row" >
                      <div class="col"  style="display: flex; padding-top: 2%;">
                        <div class="col-5">
                          <div class="doller" style="height: 3.5rem; width: 4.5rem; background-color: rgb(182, 29, 37);; color: rgb(255, 255, 255); border-radius:10%;">
                            <!-- <i class="fas fa-dollar-sign" style=" padding: 2%; font-size: 2rem; height:3rem; width: 4rem;  background-color: rgb(78, 5, 62);  color: white; border-radius: 5px;"></i> -->
                            <div style="padding-left:30%;padding-top: 15%; border-radius:20%; ">
                            <i class="fas fa-list-ol" style="font-size: 2rem;" ></i>    
                              </div>
                          </div>
                        </div>
                          <div class="col-7">
                            <label>Total Vendor</label>
               
                            <p><%= vendor[0].total %></p> 
                          </div>
                        </div>
                      </div>
                      </div>
                     
                  
                  
            </div>
            <!-- <div class="row">
              <div class="col-6">
              
              </div>
             
              </div> -->
              
             
                </div>
              </div>
            </div> 
            <div class="col-3">
              <div class="card" style="background-color: white; color: black; height: 8rem;">
                <div class="row">
                  <div class="col-12">
                <label style="margin-left: 1.5rem; font-size: 1.3rem;" >Banner</label>
                <div class="container">
                    <div class="row" >
                      <div class="col"  style="display: flex; padding-top: 2%;">
                        <div class="col-5">
                          <div class="doller" style="height: 3.5rem; width: 4.5rem; background-color: rgb(32, 81, 173);; color: rgb(255, 255, 255); border-radius:10%;">
                            <!-- <i class="fas fa-dollar-sign" style=" padding: 2%; font-size: 2rem; height:3rem; width: 4rem;  background-color: rgb(78, 5, 62);  color: white; border-radius: 5px;"></i> -->
                            <div style="padding-left:30%;padding-top: 15%; border-radius:20%; ">
                            <i class="fas fa-image" style="font-size: 2rem;" ></i>    
                              </div>
                          </div>
                        </div>
                          <div class="col-7">
                            <label>Total Banner</label>
               
                            <p><%= banner[0].total %></p> 
                          </div>
                        </div>
                      </div>
                      </div>
            </div>
                </div>
              </div>
            </div> 
            
            <div class="col-3">
              <div class="card" style="background-color: white; color: black; height: 8rem; padding-top: 3%;">
                <label style="margin-left: 1.5rem;"></label>
               <i class="fas fa-gift"  style=" margin-left:1.5rem; font-size: 2rem;width: 3rem; padding: 0.5rem;  padding-right:2%; background-color: rgb(68, 214, 39);  color: white; border-radius: 5px;"></i>
              </div>
            </div>
            <div class="col-3">
              <div class="card" style="background-color: white; color: black; height: 8rem; padding-top: 3%;">
                <label style="margin-left: 1.5rem;"></label>
               <i class="fas fa-tv"  style=" margin-left:1.5rem; font-size: 2rem;width: 4rem; padding: 0.5rem;  padding-right:2%; background-color: rgb(228, 66, 55);  color: white; border-radius: 5px;"></i>
              </div>
            </div>   
            </div>
            
            <div class="row" style="padding-top: 1%; ">
              <div class="col-3">
                <div class="card" style="background-color: white; color: black; height: 8rem;">
                  <div class="row">
                    <div class="col-12">
                  <label style="margin-left: 1.5rem; font-size: 1.3rem;" >Attribute</label>
                  <div class="container">
                      <div class="row" >
                        <div class="col"  style="display: flex; padding-top: 2%;">
                          <div class="col-5">
                            <div class="doller" style="height: 3.5rem; width: 4.5rem; background-color: rgb(3, 37, 8);; color: rgb(255, 255, 255); border-radius:10%;">
                              <!-- <i class="fas fa-dollar-sign" style=" padding: 2%; font-size: 2rem; height:3rem; width: 4rem;  background-color: rgb(78, 5, 62);  color: white; border-radius: 5px;"></i> -->
                              <div style="padding-left:25%;padding-top: 15%; border-radius:20%; ">
                              <i class="fas fa-tablets" style="font-size: 2rem;" ></i>    
                                </div>
                            </div>
                          </div>
                            <div class="col-7">
                              <label>Total Attribute</label>
                 
                              <p><%= attribute[0].total %></p> 
                            </div>
                          </div>
                        </div>
                        </div>
              </div>
                  </div>
                </div>
              </div>  
              <div class="col-3">
                <div class="card" style="background-color: white; color: black; height: 8rem;">
                  <div class="row">
                    <div class="col-12">
                  <label style="margin-left: 1.5rem; font-size: 1.3rem;" >Delivery</label>
                  <div class="container">
                      <div class="row" >
                        <div class="col"  style="display: flex; padding-top: 2%;">
                          <div class="col-5">
                            <div class="doller" style="height: 3.5rem; width: 4.5rem; background-color: rgb(177, 125, 14);; color: rgb(255, 255, 255); border-radius:10%;">
                              <!-- <i class="fas fa-dollar-sign" style=" padding: 2%; font-size: 2rem; height:3rem; width: 4rem;  background-color: rgb(78, 5, 62);  color: white; border-radius: 5px;"></i> -->
                              <div style="padding-left:30%;padding-top: 15%; border-radius:20%; ">
                              <i class="fas fa-biking" style="font-size: 2rem;" ></i>    
                                </div>
                            </div>
                          </div>
                            <div class="col-7">
                              <label>Total Delivery Boy</label>
                 
                              <p><%= delivery[0].total %></p> 
                            </div>
                          </div>
                        </div>
                        </div>
              </div>
                  </div>
                </div>
              </div>  
            
              <div class="col-3">
                <div class="card" style="background-color: white; color: black; height: 8rem;">
                  <div class="row">
                    <div class="col-12">
                  <label style="margin-left: 1.5rem; font-size: 1.3rem;" >Orders</label>
                  <div class="container">
                      <div class="row" >
                        <div class="col"  style="display: flex; padding-top: 2%;">
                          <div class="col-5">
                            <div class="doller" style="height: 3.5rem; width: 4.5rem; background-color: rgb(47, 95, 93);; color: rgb(255, 255, 255); border-radius:10%;">
                              <!-- <i class="fas fa-dollar-sign" style=" padding: 2%; font-size: 2rem; height:3rem; width: 4rem;  background-color: rgb(78, 5, 62);  color: white; border-radius: 5px;"></i> -->
                              <div style="padding-left:30%;padding-top: 15%; border-radius:20%; ">
                              <i class="fas fa-shopping-cart" style="font-size: 2rem;" ></i>    
                                </div>
                            </div>
                          </div>
                            <div class="col-7">
                              <label>Total Order</label>
                 
                              <p><%= order[0].total %></p> 
                            </div>
                          </div>
                        </div>
                        </div>
              </div>
                  </div>
                </div>
              </div>  
              <div class="col-3">
                <div class="card" style="background-color: white; color: black; height: 8rem; padding-top: 3%;">
                  <label style="margin-left: 1.5rem;"></label>
                 <i class="far fa-comment-dots"  style=" margin-left:1.5rem; font-size: 2rem;width: 3rem; padding: 0.5rem;  padding-right:2%; background-color: rgb(66, 61, 82);  color: white; border-radius: 5px;"></i>
                </div>
              </div>   
              </div>
        <!-- /.row -->

    
    </section>
    <!-- /.content -->
  </div>