<%-include('demoHeader'); -%>

<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="
    
    
    " class="brand-link">
      <img src="dist/img/redeecom.jpg" alt="Redeecom" class="brand-image img-circle elevation-3" style="opacity: .8;">
      <span class="brand-text font-weight-light" >REDEECOM</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      

      <!-- SidebarSearch Form -->
      <div class="form-inline">
        <div class="input-group" data-widget="sidebar-search">
          <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
          <div class="input-group-append">
            <button class="btn btn-sidebar">
              <i class="fas fa-search fa-fw"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
               <li class="nav-item menu-open">
          
                <ul class="nav nav-treeview">
                  
                </ul>
              </li>
             
             
              <li class="nav-item">
                <a href="adminDashboard" class="nav-link">
                  <i class="nav-icon fab fa-firefox "></i>
                  <p>
                 Dashboard
                  
                  </p>
                </a>
               
              </li>
              <%
              if(Sidebar.length!=0){
              var i=1;
              Sidebar.forEach(function(data){
              %>
              <li class="nav-item">
                <a href="adminDashboard" class="nav-link">
                  <i class="nav-icon fab fa-firefox "></i>
                  <p>
                    <%= data.att_name; %>
                  
                  </p>
                </a>
               
              </li>
              <% }) }%>

<%-include('demoSidebar'); -%>



<div class="content-wrapper">
    <div class="row">
        <div class="col-12">
    <div class="card" style="font-size: 2rem; font-weight: 800;  margin-left: 2rem; margin-right: 2rem; height: 5rem; margin-top: 3rem;">
        <div class="div" style="margin-left: 15px;   padding: 2%;">
        List Medicine Attribute
       

        </div>
    </div>


        </div>


      
    </div>

    <!--  -->
    <div class="card-body" style="margin-top:30px; background-color: rgb(255, 255, 255); margin-left: 2rem; margin-right: 2rem;">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>#</th> 
              <th>Field Name</th>
              <th>Field Type</th>
              <th>Position Type</th>
              <th>Number</th>
              <th>Parent</th>
             
              <th>Action</th>
          
            </tr>
            </thead>
           
         
              <%
              if(ListData.length!=0){
              var i=1;
              var fieldtype=['Number','Text','Text Area','Search Radio','Searchable Checkbox','Searchable Dropdown','Color'];
              ListData.forEach(function(data1){
              var    a=ListData.find(user => { return user.att_id==data1.isparent})  
              %>
            <tr>
              <td><%=i++; %></td>
              <td><%=data1.att_name; %></td>
              <td><%= field[data1.att_type]; %></td>
              <td><%=data1.att_position==0?'Global':'Local'; %></td>
              <td><%=data1.att_number==0?'Single':'Multiple'; %></td>
              <td><%=  data1.isparent==0?'Noparent':a.att_name   ; %></td>
              
             
              <td>
            
                  <a href="/EditAttribute?id=<%=data1.att_id; %>"><i class="fas fa-edit" style=" color:rgb(37, 112, 250); font-size: 1.5rem;"></i></a>&nbsp;
                  <a href="/attributeDelete?id=<%=data1.att_id; %>"><i class="fas fa-trash-alt" style=" color:rgb(240, 46, 21) ; font-size: 1.5rem;"></i></a>&nbsp;
                  
                </td>
            </tr>
            <% }) }%>
            </tbody>
            <tfoot>
           
            </tfoot>
          </table>
          
      </div> 

    <!--  -->
    

  
</div>
<%-include('demoFooter');-%>

<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": true, "autoWidth": false,
            // "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            // "buttons": ["excel","pdf","print"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
</body>
</html>




<!--  -->