
    
    
      <!-- Navbar -->
      <%-include('demoHeader');-%>
      <!-- /.navbar -->
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="" class="brand-link">
          <img src="dist/img/redeecom.jpg" alt="Redeecom" class="brand-image img-circle elevation-3" style="opacity: .8;">
          <span class="brand-text font-weight-light" >REDEECOM</span>
        </a>
      
        <!-- Sidebar -->
        <div class="sidebar">
          <!-- Sidebar user panel (optional) -->
          
      
          <!-- SidebarSearch Form -->
          <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
              <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
              <div class="input-group-append">
                <button class="btn btn-sidebar">
                  <i class="fas fa-search fa-fw"></i>
                </button>
              </div>
            </div>
          </div>
      
          <!-- Sidebar Menu -->
          <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
              <!-- Add icons to the links using the .nav-icon class
                   with font-awesome or any other icon font library -->
                   <li class="nav-item menu-open">
              
                    <ul class="nav nav-treeview">
                      
                    </ul>
                  </li>
                 
                 
                  <li class="nav-item">
                    <a href="adminDashboard" class="nav-link">
                      <i class="fas fa-building">&nbsp;</i>
                      <i class="right fas fa-angle-right"></i>
                      <p>
                     Dashboard
                      
                      </p>
                    </a>
                   
                  </li>
                  <%
                  if(Sidebar.length!=0){
                  var i=1;
                  Sidebar.forEach(function(data){
                  %>
                  <li class="nav-item">
                    <a href="/AttributesData?id=<%= data.att_id; %>" class="nav-link">
                      <i class="fas fa-building"> &nbsp;</i>
                      <i class="right fas fa-angle-right"></i>
                      <p>
                        <%= data.att_name; %>
                      
                      </p>
                    </a>
                   
                  </li>
                  <% })}%>
                 
      
      <!-- Main Sidebar Container -->
      <%-include('demoSidebar');-%>
    
      <!-- Content Wrapper. Contains page content -->
      <div class="content-wrapper">
    
                   
                    <div class="card" style="font-size: 2rem; font-weight: 800;  margin-left: 2rem; margin-right: 2rem; margin-top: 3rem;">
                        <div class="div" style="margin-left: 10px; padding: 2%;">
                        Edit Attributes &nbsp;<i class="fas fa-paperclip"></i>
                        </div>
                    </div>
                  <div class="card-body" style="margin-top:3rem; background-color: rgb(255, 255, 255); margin-left: 2rem; margin-right: 2rem;">
                        <div class="row">
                            <div class="col-sm-4">
                              <div class="form-group">
                                <label>Field Name:</label>
                                <input type="text" class="form-control" name=""  style="height: 3rem;"  placeholder="Enter Field Name" required>
                                                               
                              </div>
                          
                              
                            </div>
                            
                            <div class="col-sm-4">
                                <div class="form-group">
                                  <label>Field Type:</label>
                                  <select class="form-control" name=""  style="height: 3rem;"   required>
                                    <option >Select Type</option>
                                </select>                             
                                </div>
                            
                                
                              </div>
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label>Position Type:</label>
                                  <select class="form-control" name=""  style="height: 3rem;"   required>
                                    <option >Select Position Type</option>
                                </select>                             
                                </div>
                            
                                
                              </div>
                                                       
                              
                            
                    
                        
    
                          </div>
                          <div class="row">
                          
                           
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label>Number:</label>
                                  <select  class="form-control" name=""  style="height: 3rem;"  required>
                                        <option>Select Number</option>
                                        
                                    </select>
                                </div>
                            
                                
                              </div>
                              <div class="col-sm-4">
                                <div class="form-group">
                                  <label>IsParent:</label>
                                  <select  class="form-control" name="isparent"  style="height: 3rem;"  required>
                                        <option>Select Parent</option>
                                        <option value="0">No</option>
                                        <option value="1">Yes</option>
                                        
                                    </select>
                                </div>
                            
                                
                              </div>
      <!-- <div class="row"></div> -->
                              
                    
                          </div>

                            <div class="row">
                          <button  class="btn" style="margin-top: 10px; background-color: rgb(94, 6, 94); color: white; margin-left: 5px;"><i class="fas fa-plus"></i> Update Medicine Attribute &nbsp;</button>
                                </div>
                      </div> 
                
                        
                  
                      
                    
                </div>
                
            
     
       
      
    
      
    <%-include('demoFooter');-%>
    
      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    
    <script>
        $(function(){
          document.getElementById('switch-two').switchButton({
            onlabel: 'Enabled',
            offlabel: 'Disabled'
          });
        });
      </script>
    </body>
    </html>
    