<style> 
    .ami {
      width: 20px;
      height: 20px;
      border-radius: 10rem;
      background-color: rgb(225, 0, 255);
      animation-name: example;
      animation-duration: 30s;
    }
    
    @keyframes example {
        0%   {background-color: red;}
  10%  {background-color: yellow;}
  20%  {background-color: blue;}
  30% {background-color: green;}
  0%   {background-color: rgb(42, 124, 179);}
  15%  {background-color: rgb(201, 102, 9);}
  10%  {background-color: rgb(6, 6, 49);}
  10% {background-color: rgb(34, 228, 34);}
    }
    </style>
<%-include('demoHeader'); -%>

         
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="
  
  
  " class="brand-link">
    <img src="dist/img/redeecom.jpg" alt="Redeecom" class="brand-image img-circle elevation-3"  style="height:3rem; width: 4rem; border-radius: 5rem;">
    <span class="brand-text font-weight-light" >REDEECOM</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
             <li class="nav-item menu-open">
        
              <ul class="nav nav-treeview">
                
              </ul>
            </li>
           
           
            <li class="nav-item">
              <a href="adminDashboard" class="nav-link">
                <i class="nav-icon fab fa-firefox "></i>
                <p>
               Dashboard
                
                </p>
              </a>
             
            </li>
            <%
            if(Sidebar.length!=0){
            var i=1;
            Sidebar.forEach(function(data){
            %>
            <li class="nav-item">
              <a href="adminDashboard" class="nav-link">
                <i class="nav-icon fab fa-firefox "></i>
                <p>
                  <%= data.att_name; %>
                
                </p>
              </a>
             
            </li>
            <% }) }%>
           

<%-include('demoSidebar'); -%>



<div class="content-wrapper">
    <div class="row">
        <div class="col-12">
    <div class="card" style="font-size: 2rem; font-weight: 800;  margin-left: 2rem; margin-right: 2rem; height: 5rem; margin-top: 3rem;">
        <div class="div" style="margin-left: 15px;  padding: 2%; ">
      Completed Order List
   

        </div>
    </div>


        </div>


      
    </div>

    <!--  -->
    <div class="card-body" style="margin-top:30px; background-color: rgb(255, 255, 255); margin-left: 2rem; margin-right: 2rem;">
        <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>#</th> 
              <th>Order Id</th>
              <th>Order Date</th>
              <th>Current Status</th>
              <th>Preview Data</th>

            </tr>
            </thead>
            <tbody>
         
         
            <tr>
              <td>
                  <div class="ami"></div>
                </td>
              <td>3</td>
              <td>09-09-2021</td>
             
              <td>Completed</td>
           
              <td>
                <a href="/order?id=<%= data.order_id %>" style=" color: rgb(106, 84, 206); height: 3rem; width: 3rem; border-radius: 5px;">View Details</a>
                </td>
                   
            </tr>
         
           
            
           
          
            </tbody>
            <tfoot>
           
            </tfoot>
          </table>
          
      </div> 

    <!--  -->
    

  
</div>
<%-include('demoFooter');-%>

<script>
    $(function () {
        $("#example1").DataTable({
            "responsive": true, "lengthChange": true, "autoWidth": false,
            // "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            // "buttons": ["excel","pdf","print"]
        }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
        $('#example2').DataTable({
            "paging": true,
            "lengthChange": false,
            "searching": false,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "responsive": true,
        });
    });
</script>
</body>
</html>


<!-- 

<!--  -->