<%-include('demoHeader'); -%>
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="
  
  
  " class="brand-link">
    <img src="dist/img/redeecom.jpg" alt="Redeecom" class="brand-image img-circle elevation-3" style="opacity: .8;">
    <span class="brand-text font-weight-light">REDEECOM</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->


    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
        <li class="nav-item menu-open">

          <ul class="nav nav-treeview">

          </ul>
        </li>


        <li class="nav-item">
          <a href="adminDashboard" class="nav-link">
            <i class="nav-icon fab fa-firefox "></i>
            <p>
              Dashboard

            </p>
          </a>

        </li>
        <% if(Sidebar.length!=0){ var i=1; Sidebar.forEach(function(data){ %>
          <li class="nav-item">
            <a href="adminDashboard" class="nav-link">
              <i class="nav-icon fab fa-firefox "></i>
              <p>
                <%= data.att_name; %>

              </p>
            </a>

          </li>
          <% }) }%>




<%-include('demoSidebar'); -%>

<div class="content-wrapper">
  


             <form action="/updateregister?id=<%= ListData[0].id %>" method="post">
             
            <div class="card-body" style="margin-top:3rem; background-color: rgb(255, 255, 255); align-items: center;">
              <div class="div" style="margin-left: 10px;  padding: 2%; align-items: center; font-size: 2rem;font-weight: 800;">
                Redeecom&nbsp;
                </div>  
              <div class="row">
                      <div class="col-sm-8">
                        <div class="form-group">
                         
                          <input type="text" class="form-control" name="name"  value="<%= ListData[0].name %>" style="height: 3rem;"  placeholder="Full Name">
                                                         
                        </div>
                    
                        
                      </div>
                     


                        
              
                    </div>
                    <div class="row">
                      <div class="col-sm-8">
                        <div class="form-group">
                          
                          <input type="text" class="form-control"  value="<%= ListData[0].email %>"  name="email"  style="height: 3rem;"  placeholder="Email">
                                                         
                        </div>
                    
                        
                      </div>
                     


                        
              
                    </div>
                    <div class="row">
                      <div class="col-sm-8">
                        <div class="form-group">
                        
                          <input type="password" class="form-control" value="<%= ListData[0].password %>"  name="password"  style="height: 3rem;"  placeholder="Password" >
                                                         
                        </div>
                    
                        
                      </div>
                     


                        
              
                    </div>
                    
                    
                  
                    <button  class="btn" style="margin-top: 10px; background-color: rgb(55, 26, 82); color: white; margin-left: 5px;"><i class="fas fa-plus-circle"></i>Update&nbsp;</button>
                </div> 
          
                  
            
              </form>
              
          </div>

<%-include('demoFooter');-%>
<!-- /.register-box -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
</body>
</html>
