
<%-include('demoHeader'); -%>

            

         
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="" class="brand-link">
    <img src="dist/img/redeecom.jpg" alt="Redeecom" class="brand-image img-circle elevation-3"  style="height:3rem; width: 4rem; border-radius: 5rem;">
    <span class="brand-text font-weight-light" >REDEECOM</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->
             <li class="nav-item menu-open">
        
              <ul class="nav nav-treeview">
                
              </ul>
            </li>
           
           
            <li class="nav-item">
              <a href="adminDashboard" class="nav-link">
                <i class="fas fa-building">&nbsp;</i>
                <i class="right fas fa-angle-right"></i>
                <p>
               Dashboard
                
                </p>
              </a>
             
            </li>
           


<%-include('demoSidebar'); -%>

<div class="content-wrapper">

  

             <form action="/adduser" method="post">
             
            <div class="card-body" style="margin-top:3rem; background-color: rgb(255, 255, 255); align-items: center;">
              <div class="alert">
                <% if(message.length > 0) { %>
                  <div class="alert alert-success" style="background-color: white; color: green; font-weight: 800;">
                    <%= message %>
                  </div>
                  <% }%>
                </div>
                <div class="alert">
                  <% if(alert.length > 0) { %>
                    <div class="alert alert-success" style="background-color: rgb(235, 146, 146); color: rgb(80, 16, 5); font-weight: 800;">
                      <%= alert %>
                    </div>
                    <% }%>
                  </div>
              <div class="div" style="margin-left: 10px;  padding: 2%; align-items: center; font-size: 2rem;font-weight: 800;">
               
               <h2 style="font-weight: 800    ;"> Redeecom</h2>
               
                </div>  
              
                <p> <%=(typeof alertMsg!='undefined')? alertMsg:''%></p>
              <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                         
                          <input type="text" class="form-control" name="first_name"  style="height: 3rem;"  placeholder="First Name" required>
                                                         
                        </div>
                    
                        
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                         
                          <input type="text" class="form-control" name="last_name"  style="height: 3rem;"  placeholder="Last Name" required>
                                                         
                        </div>
                    
                        
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          
                          <input type="text" class="form-control" name="email"  style="height: 3rem;"  placeholder="Email" required>                           
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <input type="text" class="form-control" name="mobile" id="validationmobile" maxlength="10"  style="height: 3rem;"  placeholder="Mobile no" required>                        
                        </div>   
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <input type="password" class="form-control" name="password"  style="height: 3rem;"  placeholder="Password" required>                           
                        </div>
                      </div>
                      <!-- <div class="col-sm-4">
                        <div class="form-group">
                          <input type="password" class="form-control" name="cpassword"  style="height: 3rem;"  placeholder="Repeat Password" required>
                        </div>     
                      </div> -->
                    </div>
                    <button  class="btn" style="margin-top: 10px; background-color: rgb(55, 26, 82); color: white; margin-left: 5px;"><i class="fas fa-plus-circle"></i> Register&nbsp;</button>
                </div> 
              </form>
              

          </div>

<%-include('demoFooter');-%>
<!-- /.register-box -->

<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>
</body>
</html>
